@page
@model SocialWebsite.Pages.Posts.EditModel

@{
    ViewData["Title"] = "Edit Post";
}

<h1>Edit Post</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-md-8">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Post.PostID" />
            <input type="hidden" asp-for="Post.AuthorID" />
            <input type="hidden" asp-for="Post.CreatedDate" />
            <input type="hidden" asp-for="Post.UpdatedDate" />
           
            <div class="form-group mb-3">
                <label asp-for="Post.Title" class="control-label"></label>
                <input asp-for="Post.Title" class="form-control" />
                <span asp-validation-for="Post.Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Post.Content" class="control-label"></label>
                <input asp-for="Post.Content" class="form-control" />
                <span asp-validation-for="Post.Content" class="text-danger"></span>
            </div>
            <div class="form-group mb-3 form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Post.PublishStatus"/> @Html.DisplayNameFor(model => model.Post.PublishStatus)
                </label>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Post.CategoryID" class="control-label"></label>
                <select asp-for="Post.CategoryID" class="form-control" asp-items="ViewBag.PostCategories"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}